<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>peoplesimages</title>
    </head>

<body>
<div id="otherswork" style="display: none" class="jumbotron vertical-center">
    <p>please display stuff</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 inner-padding" align="center">
                <script src="/webjars/sockjs-client/sockjs.min.js"></script>
                <script src="/webjars/stomp-websocket/stomp.min.js"></script>
                <script src="js/otherswork.js"></script>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </body>
</html>
