/*Styling for the first page*/
h1 {
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 3px;
	font-family: Impact;
	color:white;
}

body{
	background-image: url("./../images/fox.png");
	/*Possible to add background color but will need alphaon other images*/
}

div.box{
	width:500px;
	height:300px;
	background-color: rgba(1,0,0,0.7);
	position: absolute;
	top: 25%;
	left: 30%;

}

/*Check out the alginments, must be a better way to do this*/
div.buttons{
	position:inherit;
	top:50%;
	left:15%;
}

button.otherswork{
    background-color: #d95326; 
    border: none;
    color: white;       
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    top:70%;
    left:50%;
}

p.welcometext{
	color:white;
	position:absolute;
	left:15%;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color:#ff8000; 
    border: none;
    color: white;		
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.custom-otherswork{
	background-color: #d95326; 
    border: none;
    color: white;		
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type="submit"] {
    display: none;
}

.color {
    background-color:#d14421; 
    border: none;
    color: white;
    border-radius: 5px; 		
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
