/*Styling for the first page*/
h1 {
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 3px;
	font-family: Impact;
}

body{
	background-image: url("./../images/fox.png");
	/*Possible to add background color but will need alphaon other images*/
}